# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE files
.idea/
.vscode/

# Ignore logs
*.log

# Ignore cache files
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db